* {
    margin: 0;
    padding: 0;
    color: cornsilk;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #313131;
}

.flex-wrapper{
    display: flex;
}
.flex-align-center{
    align-items: center;
}
.flex-justify-center{
    justify-content: center;
}
.flex-gap-5{
    gap: 5px;
}

.content{
    padding: 20px 0;
}

.parallax{
    background-image: url('/static/images/mountains.jpg');
    height: 60Vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-child{
    font-size: 3.5vw;
    text-align: center;
    padding: 5px 35px;
    width: fit-content;
    background-color: rgba(99, 99, 99, .5);
    border-radius: 12px;
}

article{
    margin: 0 auto;
    padding: 15px 30px;
    width: fit-content;
    font-size: 2vw;
    text-align: center;
    background-color: rgba(75, 75, 75, .7);
    border-radius: 15px;
}

.banner {
    background-attachment: fixed;
    height: fit-content;
    background-size: cover;
    padding: 8vh 0;
}

#about-me-banner{
    background-image: url('/static/images/castle.jpg');
}

#projects-banner {
    background-image: url('/static/images/matrix_code.jpg');
}

#technologies-banner{
    background-image: url('/static/images/neon_chip.jpg');
}

#gary{
    margin: 15px;
    height: 15vw;
    min-height: 100px;
    width: 15vw;
    min-width: 100px;
    border-radius: 50%;
    shape-outside: circle();
    background-image: url('/static/images/garyD.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -20px;
    float: left;
}

.about-me-content {
    min-height: 20vw;
    width: 80vw;
    padding: 5vw 0;
    margin: 0 auto;
    height: fit-content;
    font-size: 2.2vw;
}

.slide-container {
    width: 95%;
    margin: 0 auto;
}

iframe{
    height: 32vw;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #121;
}

#video-position {
    display: flex;
    gap: 1%;
}

.dot {
    height: 1.5vw;
    width: 1.5vw;
    margin: 0 2px;
    background-color: #666;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #918e8e;
}

.prev, .next{
    cursor: pointer;
    padding: 2px 4px;
    transition: 0.6s ease;
    border-radius: 5px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

