nav, nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: brown;
}

nav{
    padding: 2vh;
    width: 100vw;
}

nav ul {
    gap:10px
}

.stick-top {
    position:fixed;
    top: 0;
}